*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* overflow: hidden; */
    /* padding: 3px; */
}
.side-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0px;
    flex-direction: column;
}
.side-nav .profile-pic{
    width: 150px;
    height: 150px;
    background-image: url(../avtar.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.side-nav ul{
    width: 100%;
    margin: 20px 0px 0px;
    padding: 4px;
}
.side-nav ul li{
    border-radius: 0;
    margin: 10px 0px 0px;
    background-color: transparent;
    font-size: 18px;
    color: aliceblue;
    transition: 1s ease-in-out;
}
.side-nav ul li i{
    margin: 8px;
}
.side-nav ul li:hover{
    background-color: azure;
    color: darkviolet;
    cursor: pointer;
}
.side-nav button{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 11px;
    background-color: aqua;
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
}

/* START MAIN BOX CODING */
.brand-box li{
    border-radius: 0;
    background-color: antiquewhite;
}
.main-box .teacher-box li{
    border-radius: 0;
    background-color: aqua;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    color: rgb(145, 10, 236);
}
.main-box .teacher-box .content-box{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box .teacher-box .content-box .number-box{
    width: 120px;
    height: 120px;
    border: 5px solid rgb(69, 189, 254);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
.accordion-body .btn{
    background-color: rgb(31, 196, 238);
}
/* Show Subject Related Questions */
.visible-question i{
    font-size: 23px;
}
.visible-question span{
    font-size: 20px;
}
.visible-question .bg-info{
    color: aliceblue;
}