*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* overflow: hidden; */
    /* padding: 3px; */
}
.side-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: rgb(43, 112, 106);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0px;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    z-index: 1000;
}
.side-nav .profile-pic{
    width: 150px;
    height: 150px;
    background-image: url(../avtar.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.side-nav ul{
    width: 100%;
    margin: 20px 0px 0px;
    padding: 4px;
}
.side-nav ul li{
    border-radius: 0;
    margin: 10px 0px 0px;
    background-color: transparent;
    font-size: 18px;
    color: aliceblue;
    transition: 1s ease-in-out;
}
.side-nav ul li i{
    margin: 8px;
}
.side-nav ul li:hover{
    background-color: rgb(52, 181, 250);
    color: rgb(42, 38, 244);
    cursor: pointer;
    font-weight: bold;
}
.side-nav button{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 11px;
    background-color: aqua;
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
}

/* START MAIN BOX CODING */
.main-box{
    /* background-image: linear-gradient(to right,rgb(99, 11, 89),rgb(240, 79, 179)); */
}
.brand-box li{
    border-radius: 0;
    background-color: antiquewhite;
}
.main-box .teacher-box li{
    border-radius: 0;
    background-color: aqua;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    color: rgb(145, 10, 236);
}
.main-box .teacher-box .content-box{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box .teacher-box .content-box .number-box{
    width: 120px;
    height: 120px;
    border: 5px solid rgb(69, 189, 254);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
.accordion-body .btn{
    background-color: rgb(31, 196, 238);
}
/* Show Subject Related Questions */
.visible-question i{
    font-size: 23px;
}
.visible-question span{
    font-size: 20px;
}
.visible-question .bg-info{
    color: aliceblue;
}
/* Modal Coding */
.user-profile-box .modal-header{
    background-color: aquamarine;
}
.user-profile-box .profile-box{
    width: 100%;
    height: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}
.user-profile-box .profile-box .img-box{
    width: 150px;
    height: 150px;
    background-image: url(../avtar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.user-profile-box .profile-box .btn{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 34px;
}
.user-profile-box .profile-box input{
    position: absolute;
    right: 0;
    top: 18px;
    width: 50px;
    opacity: 0;
}
.user-profile-box .date-box{
    width: 100%;
    height: 150px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.user-profile-box .date-box .icon-box{
    width: 100%;
    height: 40px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-profile-box .date-box .icon-box i{
    font-size: 35px;
}.user-profile-box .date-box h1{
    font-weight: bold;
}
.user-profile-box .modal-footer .modal-edit{
    width: 100px;
    background-color: aquamarine;
    font-size: 20px;
    font-weight: bold;
}
i{
    cursor: pointer;
}
/* Start Certificate Coding */
.certificate-main{
    width: 860px;
    height: 1000px;
    position: absolute;
    top: 67%;
    left: 53%;
    transform: translate(-50%, -48%);
    border: 7px groove slateblue;
}
.certificate-main .main-box{
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to right, rgb(192, 192, 252) , rgb(249, 252, 252)); */
    position: absolute;
    top: 55px;
    left: 0;
    padding: 0px 50px;
}
.certificate-main .main-box .name-box{
    width: 95%;
    height: 200px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.certificate-main .main-box .name-box .img-box{
    width: 30%;
    height: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.certificate-main .main-box .name-box .img-box p{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.certificate-main .main-box .signature-box{
    width: 95%;
    height: 170px;
    border: 2px solid black;
    display: flex;
    align-items: center;
}
.certificate-main .main-box .signature-box .sign-box{
    width: 30%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.certificate-main .certificate-close-btn{
    position: absolute;
    right: -5px;
    top: -7px;
    font-size: 31px;
    color: aliceblue;

}
/* Toggler coding */
.toggler-box{
    opacity: 0;
}
.toggler-box .toggler-icon{
    position: fixed;
    padding: 15px;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 10px;
}
@media(max-width : 991px){
    .side-nav{
        transform: translateX(-255px)
    }
    .side-nav.active{
        transform: translateX(0px)
    }
    .toggler-box{
        opacity: 1;
    }
}