*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(8, 239, 204);
    font-family: sans-serif;
}
.container{
    /* color: aqua; */
}
.container h1{
    color: rgb(212, 18, 242);
    font-weight: bolder;
    /* font-family: 'font-effect-fire-animation'; */
    font-family: 'Moon Dance', cursive;
    letter-spacing: 1.2px;
}
.container h2{
    color: rgb(229, 25, 110);
    text-align: center;
    margin-top: 23px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 1.875rem;
    letter-spacing: 0.8px;
}