*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}